#register_div input {
	display: block;
	border: 1px solid #777;
	border-radius: 3px;
	background: #2a2a2a;
	padding: 15px;
	outline: none;
	width: 220px;
	margin-bottom: 10px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	height: 30px;
	color: #777
}
#register_div input:focus{
	border: 1px solid #ccc;
	color: #ccc;
}

#register_div button{
	background: #e9c000;
	color: #fff;
	border: 1px solid #e9c000;
	border-radius: 3px;
	padding: 5px;
	display: block;
	width: 220px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	height: 30px;
}

#register_div button:hover{
	background: #fff;
	color: #e9c000;
	border: 1px solid #e9c000;
	cursor: pointer;
}
